USE master;
GO

IF DB_ID(N'SWP392_TestVer2') IS NOT NULL
BEGIN
    ALTER DATABASE SWP392_TestVer2 SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE SWP392_TestVer2;
END
GO

CREATE DATABASE SWP392_TestVer2;
GO

USE SWP392_TestVer2;
GO

-- =========================
-- 1. Roles
-- =========================
CREATE TABLE Roles (
    RoleID INT PRIMARY KEY IDENTITY(1,1),
    RoleName NVARCHAR(50) NOT NULL
);
GO

-- =========================
-- 2. Users
-- =========================
CREATE TABLE Users (
    UserID INT PRIMARY KEY IDENTITY(1,1),
    RoleID INT NOT NULL,
    Email VARCHAR(100) NOT NULL UNIQUE,
    Password VARCHAR(255) NOT NULL,
    FullName NVARCHAR(100) NOT NULL,
    Phone VARCHAR(15) NULL,
    Address NVARCHAR(255) NULL,
    AvatarURL VARCHAR(MAX) NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE()
);
GO

-- =========================
-- 3. Doctors
-- =========================
CREATE TABLE Doctors (
    DoctorID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT NOT NULL UNIQUE,
    ExperienceYears INT NULL,
    Bio NVARCHAR(MAX) NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    AvatarURL VARCHAR(MAX) NULL,
    Specialty NVARCHAR(100) NULL,
    Description NVARCHAR(MAX) NULL
);
GO

-- =========================
-- 4. Appointments
-- =========================
CREATE TABLE Appointments (
    AppointmentID INT PRIMARY KEY IDENTITY(1,1),
    PatientID INT NOT NULL,
    DoctorID INT NULL,
    StaffID INT NULL,
    AppointmentDate DATE NOT NULL,
    AppointmentTime TIME NOT NULL,
    Status NVARCHAR(50) NOT NULL DEFAULT N'Pending',
    Note NVARCHAR(MAX) NULL,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE(),
    UpdatedAt DATETIME NOT NULL DEFAULT GETDATE()
);
GO

-- =========================
-- 5. Services
-- =========================
CREATE TABLE Services (
    ServiceID INT PRIMARY KEY IDENTITY(1,1),
    AppointmentID INT NULL,
    ServiceName NVARCHAR(100) NOT NULL,
    Description NVARCHAR(MAX) NULL,
    Price DECIMAL(18,2) NOT NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    ImageURL VARCHAR(MAX) NULL
);
GO

-- =========================
-- 6. Products
-- =========================
CREATE TABLE Products (
    ProductID INT PRIMARY KEY IDENTITY(1,1),
    ProductName NVARCHAR(255) NOT NULL,
    Brand NVARCHAR(100) NULL,
    Description NVARCHAR(MAX) NULL,
    Price DECIMAL(18,2) NOT NULL,
    ImageURL VARCHAR(MAX) NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE()
);
GO

-- =========================
-- 7. Cart
-- =========================
CREATE TABLE Cart (
    CartID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT NOT NULL UNIQUE,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE()
);
GO

-- =========================
-- 8. CartItems
-- =========================
CREATE TABLE CartItems (
    CartItemID INT PRIMARY KEY IDENTITY(1,1),
    CartID INT NOT NULL,
    ProductID INT NOT NULL,
    Quantity INT NOT NULL
);
GO

-- =========================
-- 9. Orders
-- =========================
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT NOT NULL,
    AppointmentID INT NULL,
    TotalAmount DECIMAL(18,2) NOT NULL,
    ShippingAddress NVARCHAR(255) NULL,
    Status NVARCHAR(50) NOT NULL DEFAULT N'Pending',
    OrderDate DATETIME NOT NULL DEFAULT GETDATE()
);
GO

-- =========================
-- 10. OrderDetails
-- =========================
CREATE TABLE OrderDetails (
    OrderDetailID INT PRIMARY KEY IDENTITY(1,1),
    OrderID INT NOT NULL,
    ProductID INT NOT NULL,
    Quantity INT NOT NULL,
    UnitPrice DECIMAL(18,2) NOT NULL
);
GO

-- =========================
-- 11. Invoices
-- =========================
CREATE TABLE Invoices (
    InvoiceID INT PRIMARY KEY IDENTITY(1,1),
    AppointmentID INT NULL,
    OrderID INT NULL,
    TotalAmount DECIMAL(18,2) NOT NULL,
    IssuedDate DATETIME NOT NULL DEFAULT GETDATE(),
    PaymentLinkId VARCHAR(100) NULL,
    Status NVARCHAR(50) NOT NULL DEFAULT N'Unpaid'
);
GO

-- =========================
-- 12. Payments
-- =========================
CREATE TABLE Payments (
    PaymentID INT PRIMARY KEY IDENTITY(1,1),
    InvoiceID INT NOT NULL,
    TransactionID VARCHAR(100) NULL,
    Amount DECIMAL(18,2) NOT NULL,
    PaymentMethod NVARCHAR(50) NOT NULL DEFAULT N'PayOS_QR',
    PaymentDate DATETIME NOT NULL DEFAULT GETDATE(),
    Status NVARCHAR(50) NULL
);
GO

-- =========================
-- 13. Notifications
-- =========================
CREATE TABLE Notifications (
    NotificationID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT NOT NULL,
    Title NVARCHAR(255) NULL,
    Message NVARCHAR(MAX) NULL,
    ReferenceID INT NULL,
    Type NVARCHAR(50) NULL,
    IsRead BIT NOT NULL DEFAULT 0,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE()
);
GO

-- =========================
-- 14. Reviews
-- =========================
CREATE TABLE Reviews (
    ReviewID INT PRIMARY KEY IDENTITY(1,1),
    AppointmentID INT NOT NULL UNIQUE,
    UserID INT NOT NULL,
    Rating INT NOT NULL CHECK (Rating BETWEEN 1 AND 5),
    Comment NVARCHAR(MAX) NULL,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE(),
    EditCount INT NOT NULL DEFAULT 0,
    UpdatedAt DATETIME NULL
);
GO

-- =========================
-- 15. HomepageSections
-- =========================
CREATE TABLE HomepageSections (
    SectionID INT PRIMARY KEY IDENTITY(1,1),
    SectionType VARCHAR(50) NOT NULL,
    Title NVARCHAR(255) NOT NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    DisplayOrder INT NOT NULL,
    ItemLimit INT NOT NULL DEFAULT 4,
    Criteria VARCHAR(50) NOT NULL DEFAULT 'new',
    UpdatedAt DATETIME NOT NULL DEFAULT GETDATE()
);
GO

-- =========================
-- 16. Blogs
-- =========================
CREATE TABLE Blogs (
    BlogID INT PRIMARY KEY IDENTITY(1,1),
    Title NVARCHAR(500) NOT NULL,
    Slug VARCHAR(500) NOT NULL UNIQUE,
    Summary NVARCHAR(MAX) NULL,
    Content NVARCHAR(MAX) NOT NULL,
    ThumbnailURL VARCHAR(MAX) NULL,
    AuthorName NVARCHAR(100) NULL,
    Category NVARCHAR(100) NULL,
    Tags NVARCHAR(255) NULL,
    ViewCount INT NOT NULL DEFAULT 0,
    IsPublished BIT NOT NULL DEFAULT 1,
    PublishedDate DATETIME NULL,
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE(),
    UpdatedAt DATETIME NOT NULL DEFAULT GETDATE()
);
GO

-- =========================
-- Foreign Keys
-- =========================
ALTER TABLE Users
ADD CONSTRAINT FK_Users_Roles
FOREIGN KEY (RoleID) REFERENCES Roles(RoleID);
GO

ALTER TABLE Doctors
ADD CONSTRAINT FK_Doctors_Users
FOREIGN KEY (UserID) REFERENCES Users(UserID);
GO

ALTER TABLE Appointments
ADD CONSTRAINT FK_Appointments_Patient
FOREIGN KEY (PatientID) REFERENCES Users(UserID);
GO

ALTER TABLE Appointments
ADD CONSTRAINT FK_Appointments_Doctor
FOREIGN KEY (DoctorID) REFERENCES Doctors(DoctorID);
GO

ALTER TABLE Appointments
ADD CONSTRAINT FK_Appointments_Staff
FOREIGN KEY (StaffID) REFERENCES Users(UserID);
GO

ALTER TABLE Services
ADD CONSTRAINT FK_Services_Appointments
FOREIGN KEY (AppointmentID) REFERENCES Appointments(AppointmentID);
GO

ALTER TABLE Cart
ADD CONSTRAINT FK_Cart_Users
FOREIGN KEY (UserID) REFERENCES Users(UserID);
GO

ALTER TABLE CartItems
ADD CONSTRAINT FK_CartItems_Cart
FOREIGN KEY (CartID) REFERENCES Cart(CartID);
GO

ALTER TABLE CartItems
ADD CONSTRAINT FK_CartItems_Products
FOREIGN KEY (ProductID) REFERENCES Products(ProductID);
GO

ALTER TABLE Orders
ADD CONSTRAINT FK_Orders_Users
FOREIGN KEY (UserID) REFERENCES Users(UserID);
GO

ALTER TABLE Orders
ADD CONSTRAINT FK_Orders_Appointments
FOREIGN KEY (AppointmentID) REFERENCES Appointments(AppointmentID);
GO

ALTER TABLE OrderDetails
ADD CONSTRAINT FK_OrderDetails_Orders
FOREIGN KEY (OrderID) REFERENCES Orders(OrderID);
GO

ALTER TABLE OrderDetails
ADD CONSTRAINT FK_OrderDetails_Products
FOREIGN KEY (ProductID) REFERENCES Products(ProductID);
GO

ALTER TABLE Invoices
ADD CONSTRAINT FK_Invoices_Appointments
FOREIGN KEY (AppointmentID) REFERENCES Appointments(AppointmentID);
GO

ALTER TABLE Invoices
ADD CONSTRAINT FK_Invoices_Orders
FOREIGN KEY (OrderID) REFERENCES Orders(OrderID);
GO

ALTER TABLE Payments
ADD CONSTRAINT FK_Payments_Invoices
FOREIGN KEY (InvoiceID) REFERENCES Invoices(InvoiceID);
GO

ALTER TABLE Notifications
ADD CONSTRAINT FK_Notifications_Users
FOREIGN KEY (UserID) REFERENCES Users(UserID);
GO

ALTER TABLE Reviews
ADD CONSTRAINT FK_Reviews_Appointments
FOREIGN KEY (AppointmentID) REFERENCES Appointments(AppointmentID);
GO

ALTER TABLE Reviews
ADD CONSTRAINT FK_Reviews_Users
FOREIGN KEY (UserID) REFERENCES Users(UserID);
GO